/* Set Up Global Variables */
:root {
    --gap: 1rem;
    --nav-size: 60px;
    --light: rgb(235, 235, 235);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main * {
    width: min(100%, 700px);
}