.delete {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(255, 166, 166);
  border-radius: 3px;
}

.delete:active {
  box-shadow: inset 1px 1px 2px grey;
}
