form {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  padding: var(--gap);
  gap: var(--gap);
  width: min(100%, 700px);
  border-radius: calc(var(--gap) / 2);
}

input {
  padding: var(--gap);
  font-size: 0.75rem;
}

form button {
  padding: var(--gap);
  font-size: 0.75rem;
  height: fit-content;
}

form.small {
  width: fit-content;
  padding: calc(var(--gap) / 2);
  gap: calc(var(--gap) / 2);
}

form.small input,
form.small button {
  padding: calc(var(--gap) / 2);
}
