header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap);
}

nav ul {
    display: none;
    gap: var(--gap);
}

nav ul.active {
    display: flex;
}

@media (min-width: 700px) {
    nav ul {
        display: flex;
    }
    .showHideNav {
        display: none;
    }
}